body {
  color: #ff0000e0;
  background-color: #F5F0E6;
  font-family: Georgia, serif;
}
.subtitle { font-size: 30px; color: red; }
#page-title { font-size: 24px; color: rgb(0, 0, 0); }
#my-name {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.subtitle {
  color: red;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  width: 300px
}